{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "impliedStrict": true,
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "rules": {
    "max-len": ["error", { "code": 150 }],
    "quotes": [2, "single", { "avoidEscape": true }],
    "semi": ["error", "always"],
    "complexity": ["error", 10],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "warn"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/extensions": [".js", ".ts"]
  },
  "overrides": [
    {
      "files": ["src/**/*.ts"]
    }
  ]
}